#
# ESP32S3-specific
#
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y

# Flash configuration - use octal mode for better performance
#CONFIG_ESPTOOLPY_FLASHMODE_OPI=y
#CONFIG_ESPTOOLPY_FLASH_SAMPLE_MODE_STR=y
CONFIG_ESPTOOLPY_FLASHMODE_OPI_STR=y   # Octal-SPI, single-transfer-rate
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y      # 256-Mbit (32 MiB)

